<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    Layout = "_Layout";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
@model SampleCore.Core.Model.Employee
        <style>
   
            body {                
                        background-color:white;
                        margin: 0px 341px 50px 341px;
                        padding: 0px 0px 25px 0px;
                        border: 4px solid black;
                        border-radius: 25px;
                        padding-left: 50px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        background-attachment:initial;
                    }
                   
      
            .error{
                color:darkred;
            }
     
            #phoneno{
              border:hidden;
              
            }
            .hide{
                display:none;
            }
            #password-field{
                border:hidden;
              
            }
        </style>



@using (Html.BeginForm("Index", "Home",FormMethod.Post, new { id = "signupForm"}))
{

    <div id = "clearForm">
       
        @Html.HiddenFor(model=>model.empid)

        <h4>Firstname  </h4>
       <i class="fa fa-user" aria-hidden="true" style="font-size:24px"></i>
        @Html.TextBoxFor(model=>model.firstName,new{placeholder="First name"})
       <hr style="width:102%;text-align:left;margin-left:0">
       


        <h4>Last Name</h4>
        <i class="fa fa-user" aria-hidden="true" style="font-size:24px"></i>
        @Html.TextBoxFor(model=>model.lastName,new{placeholder="Last name", maxlength=10})
          <hr style="width:102%;text-align:left;margin-left:0">
       


        <h4>Department</h4>
        <i class="fa fa-users" aria-hidden="true" style="font-size:18px"></i>
       @Html.DropDownList("department", new List<SelectListItem>
            {
            new SelectListItem{ Text="cse"},
            new SelectListItem{ Text="IT"},
            new SelectListItem{ Text="eee"},
            new SelectListItem{Text="ece"},
            new SelectListItem{Text="Mech"},
            new SelectListItem{Text="Civil"},
            }, "----Select Role----")
       <hr style="width:102%;text-align:left;margin-left:0">

      
        <h4>DateofBirth</h4>
         <i class="fa fa-calendar" aria-hidden="true" style="font-size:24px"></i>
        @Html.TextBoxFor(m => m.Dob, new {placeholder="Dateofbirth", type="date" })
          <hr style="width:102%;text-align:left;margin-left:0">


         <h4>Age</h4>
         <i class="fa fa-child" aria-hidden="true" style="font-size:24px"></i>
        @Html.TextBoxFor(model=>model.age,new{placeholder="Age"})
          <hr style="width:102%;text-align:left;margin-left:0">

          <h4>Location</h4>
           <i class="fa fa-map-marker" aria-hidden="true" style="font-size:24px"></i>
        
     @Html.DropDownListFor(m => m.Emp_LocationID, new SelectList(ViewBag.location, "Emp_LocationID", "location"), "Select Location")
      <hr style="width:102%;text-align:left;margin-left:0">
         <h4>Qualification</h4>
         <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size:24px"></i>
        @Html.TextBoxFor(model=>model.qualification,new{placeholder="Degree"})
         <hr style="width:102%;text-align:left;margin-left:0">

         <h4>   Gender </h4>
         <i class="fa fa-venus-double" aria-hidden="true"  style="font-size:24px"></i>&nbsp;&nbsp;
        
         @Html.RadioButtonFor(m => m.gender,"Male")Male  &nbsp;&nbsp;

        @Html.RadioButtonFor(m => m.gender,"Female")Female   &nbsp;&nbsp;

        @Html.RadioButtonFor(m => m.gender,"Others")Others
        
          <hr style="width:102%;text-align:left;margin-left:0">
        <h4>Phone</h4>
         <i class="fa fa-phone" style="font-size:24px"></i>
        @Html.TextBoxFor(model=>model.phone,new{id="phoneno",placeholder="Phone"})

          <hr style="width:102%;text-align:left;margin-left:0">
        
        <h4>Address</h4>
      <i class="fa fa-map-marker" aria-hidden="true" style="font-size:24px"></i>
        @Html.TextBoxFor(model=>model.address,new{placeholder="Address"})

         <hr style="width:102%;text-align:left;margin-left:0">
        <h4>Email</h4>
        <i class="fa fa-envelope" aria-hidden="true"  style="font-size:21px"></i>
        @Html.TextBoxFor(model=>model.email,new{placeholder="Email"})

         <hr style="width:102%;text-align:left;margin-left:0">

      
        <h4>Password</h4>
        <i class="fa fa-key" aria-hidden="true"  style="font-size:24px"></i>  
        @Html.TextBoxFor(model=>model.password,new   {type="password",name="password",id="password-field",placeholder="password"})
       <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    
          <hr style="width:102%;text-align:left;margin-left:0">
       
        <h4>Retype password</h4>
        <i class="fa fa-key" aria-hidden="true"  style="font-size:24px"></i>

        @Html.TextBoxFor(model=>model.retypePassword,new{type="password",placeholder="retype password"})
         <hr style="width:102%;text-align:left;margin-left:0">
        <br />
        <br />
        <button id="BtnSubmit" type="submit" onclick="SubmitDetails()" style="background-color:mediumpurple;height:30px;" >Submit</button>

       <button id="Btnedit" type="submit" class="hide" style="background-color:mediumpurple;height:30px;" >Update</button>

        <button id="Btnclr" type="button" class="hide"  onclick="ClearDetails()"style="background-color:mediumpurple;height:30px;" >Clear</button>


       <a href="https://localhost:7117/Home/Read">
            <button type="button" style="height:contain;background-color: #4CAF50;"> Go Next</button>
        </a>
    </div>
}



<script type="text/javascript">
    $(document).ready(function() {
        
     

        $("#signupForm").validate({

            rules: {
                firstName: {
                    required: true,
                  
                    maxlength:10
                },
                
                 lastName: {
                    required: true,            
                   
                },
               
                 phone: {
                    
                     required: true,
                     number: true,
                     maxlength: 10,
                     minlength: 10,

                 },
                age: {
                     required: true,
                     minlength: 2,
                     maxlength:2

                },
                
                department: {
                     required: true,
                     maxlength:5
                },
                Dob: {
                     required: true
                },
                 email: {
                     
                     required: true,
                     email: true,
                     maxlength:15
                    
                 },
                 password: {

                     required: true,
                     minlength: 5,
                     maxlength:7

                 },
                 retypePassword: {
                     required: true,
                     minlength: 5,
                     maxlength:7,
                    equalTo: "#password-field" 
                 },
                 qualification : {
                     required: true,
                     maxlength:5
                   
                    
                 },
                address: {
                     required: true,
                     minlength: 5,
                     maxlength:50
                }

            },

            messages: {
                firstName: {
                    required: " Enter a Firstname"
                   
                },
  
                lastName: {
                    required: " Enter a Lastname"
                    
                },
                 age: {
                     required: " Enter your age",
                     minlength: " Your age must consist of at least 2 characters"
                 },
                department: {
                     required: " Choose your Department"
                },
                Dob: {
                    required: " Enter your Date of birth"
                },
                email: {
                     required: " Enter a EmailId",
                     minlength: " Your username must consist of at least 2 characters"
                 },
                phone : {
                      number: "Enter valid Number",
                     required: " Enter a Phone Number",
                     minlength: " Your PhoneNo must consist of at least 10 characters"
                 },
                 password: {
                    
                     required: " Enter a password",
                     minlength: " Your password must consist of at least 5 characters"
                 },
                 retypePassword: {
                     required: " Please enter a password",
                     minlength: " Your password must be consist of at least 5 characters",
                    equalTo: " Enter the same password as above"
                 },
                qualification: {
                    required: " Please enter your degree"
                },
                address: {
                     minlength: "Enter your full address using 50 characters"
                }

            }
        });
    });

   function SubmitDetails() {
        if ($("#signupForm").validate()) {
            $("#signupForm").submit();
        }
    }
</script>


<script>
    //Hide and show button
    var edit = @Html.Raw(ViewBag.edit)
    if (edit == 1) {
         $("#BtnSubmit").hide();
     $("#Btnedit").show();
      $("#Btnclr").show();
    }

   //clear
     function ClearDetails()
     {
   $("#signupForm").closest('form').find("input,input[type=radio],select").val("");
   $('input[name=gender]').attr('checked',false);

 } 

 
</script>

  <script>
      //password eye
   $(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
});
  </script>