
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
 

@model IEnumerable<SampleCore.Core.Model.Employee>

@{
    ViewData["Title"] = "Home Page";
}
<style>
    .design{
          background-color:orange;
          border: none;    
          text-align: center;   
          border-radius:10px;
          text-decoration: none;
          display: inline-block;
          font-size: 20px;
         
        
    }
    a{
        text-decoration:none;
        color:white;
    }
    a:hover {
    color: black;
}
    body{
        background-image:url('https://img.freepik.com/free-vector/3d-perspective-style-diamond-shape-white-background_1017-27556.jpg?w=2000');
        background-repeat:no-repeat;
        background-size:cover;
    }
  html{
      font-size:15px;
  }
</style>


    <title>Employee List</title>
    
   <h2 style="font-weight:bold">List of Employees</h2>

   @* <a href="https://localhost:7117/">
            <button class="btn btn-primary btn-lg" style="height:contain"> Go back</button>
        </a>*@

        <form>
            <p>
    <input type="search" placeholder="FirstName" name="searchterm" style="width:500px"/>
    <input type="submit" value="Search" class="btn btn-primary" asp-action="Search" />
     <input type="submit" value="Get All Employees" class="btn btn-primary" asp-action="Read"/>
      <button class="btn btn-primary" style="float:right;background-color:orange;border:none">@Html.ActionLink("Create","Index")</button>
            </p>
        </form>
<div class="col-12">   
<table  class="table table-bordered table-striped" >
    <thead>
        <tr>
             @*<th >
                @Html.DisplayNameFor(model => model.empid)
            </th>*@
            <th >
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            
            <th >
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.department)
            </th>
             <th >
                @Html.DisplayNameFor(model => model.age)
            </th>
             <th >
                @Html.DisplayNameFor(model => model.Dateofbirth)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.qualification)
            </th>

            <th >
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.location)
            </th>

            <th >
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
          
            
            @*<th >
                @Html.DisplayNameFor(model=>model.password)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.retypePassword)
            </th>*@
          <th > </th>
        </tr> </thead>
        <tbody>
        @if (Model != null)
        {
            @foreach (var i in Model)
            {
                <tr>
                   @* <td >
                        
                        @Html.DisplayFor(model => i.empid)
                        
                    </td>*@

                    <td>
                        @Html.DisplayFor(model => i.firstName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => i.lastName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.department)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.age)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.Dob)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.qualification)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.location)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.address)
                    </td>
                    @*   <td>
                    @Html.DisplayFor(model => i.salary)
                </td>*@
                   @* <td>
                        @Html.DisplayFor(model => i.password)
                    </td>
                    <td>
                        @Html.DisplayFor(model =>i.retypePassword)
                    </td>*@

                    <td>
                        @* @Html.ActionLink("Edit", "Edit", new {id=i.empid})
                    *@

                        @Html.ActionLink("", "Edit", new {id=i.empid},
        new{@class="fa fa-edit",title="Edit",style="font-size:20px;color:black;text-decoration:none"}) 



                        <button type="submit" style="border:hidden;background-color:none" 
          onclick="return confirm('Are you sure you want to delete this details: @i.empid,@i.firstName,@i.lastName,@i.department,@i.age,@i.qualification,@i.gender,@i.email,@i.address,@i.password,@i.retypePassword')">  @Html.ActionLink("", "Delete", new {employee_id = i.empid},
        new{@class="fa fa-trash-o",title="Delete",style="font-size:20px;color:red;"}) </button>


                        <button type="button" style="border:hidden;background-color:none"  data-bs-toggle="modal" data-bs-target="#myModal" 
onclick="partial('@i.empid')">
                            <i class="fa fa-eye" style="font-size:21px"></i>
                        </button>

                        @*  @Html.ActionLink("", "Delete", new {employee_id = i.empid},
        new{@class="fa fa-trash-o",title="Delete",style="font-size:24px;color:red;"})
       *@


                        @* @Html.ActionLink("Details", "Detail", new {employee_id=i.empid})



         @Html.ActionLink("", "Detail", new {employee_id = i.empid},
        new{@class="fa fa-eye",title="Details",style="font-size:24px;color:black;text-decoration:none"})*@

                    </td>
                </tr>






                <div class="modal" id="myModal">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title" style="color:darkmagenta;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Employee Details</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body" id="values">



                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
            }

        }
        else
        {
            <h4>No Results Found</h4>
        }
        </thead>
</table>
</div>


        <script>
    function partial(id) {
        $("#myModal").css('display', 'block');
        $("#values").load("/Home/Detail?employee_id=" + id);
        $("#myModal").modal("show");
    }


</script>